When we want to work with SQL easily in an Ipython notebook, we'll load the ipython-sql [extension](https://github.com/catherinedevlin/ipython-sql) as follows:

**Note: DO NOT PANIC** 
* Don't worry if you get (a) a big red-highlighted warning or (b) a note that the extension has already been loaded!  As long as your SQL commands work, it's loaded properly!

* If you don't understand all the SQL queries... very soon, you will!

In [1]:
%load_ext sql

Next, we'll load an SQLite database stored as a file as follows:

**NOTE: We load a file below (here, "dataset_1.db", which must be in the same directory as the notebook. You'll use this file throughout the next few lectures and PS1. Make sure to download the from the webpage!!**

In [2]:
%sql sqlite:///dataset_1.db

u'Connected: None@dataset_1.db'

Lets look at one table from the US National Oceanic and Atmospheric Administration (NOAA) Rainfall dataset- `precipitation_full`- having the following schema:

> * `state_code`
> * `station_id`
> * `year`
> * `month`
> * `day`
> * `hour`
> * `precipitation`
> * `flag_1`
> * `flag_2`

Each tuple in this table describes one hour of rainfall (`precipitation`- in hundredths of an inch) at one station (`station_id`) in one state (`state_code`).  Note that tuples with `hour=25` record the total rainfall for that day, and that we can ignore the values of attributes `flag_1` and `flag_2` for now.

Let's take a look at some sample rows of the table via SQL queries.

Note that you can also load an empty in-memory database using:

``%sql sqlite://``

Now let's try out some queries!  (Don't worry, if you're new to SQL, we'll go over all the syntax in more depth next lecture)

**`%sql` is used for single line SQL commands:**

In [3]:
%sql SELECT * FROM precipitation_full LIMIT 5;

Done.

[(1, 807, 2013, 9, 1, 1, None, u'[', u''),
 (1, 807, 2013, 9, 1, 25, 0, u'I', u''),
 (1, 807, 2013, 9, 30, 24, None, u']', u''),
 (1, 807, 2013, 9, 30, 25, 0, u'I', u''),
 (1, 6303, 2013, 9, 1, 1, 0, u'g', u'')]

In [4]:
%sql SELECT COUNT(*) FROM precipitation_full;

Done.

[(74251,)]

And **`%%sql` is used for multi-line SQL commands:**

In [5]:
%%sql
SELECT SUM(p.precipitation) 
FROM precipitation_full p, states s 
WHERE p.state_code = s.code AND s.abbrev = 'CA';

Done.

[(31982,)]

We can also work with the output of the queries we issue:

In [6]:
result = %sql SELECT * FROM states;

Done.

In [8]:
result.keys

[u'code', u'name', u'abbrev']

*Note that the first row is the header row with column names!*

In [7]:
result[1]

(1, u'Alabama', u'AL')

In [8]:
result[1].name

u'Alabama'

Now feel free to have fun with the dataset- we'll see more of it later though!